*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #0b456b, #021c37);
}

/* RELÓGIO */
.clock {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,#05263c, #000d1a);
}

/* BORDA BRILHANTE */
.clock::before{
    content: "";
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, #00d9ff, #ee00ff);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

/* NÚMEROS */
.number{
    position: absolute;
    inset: 30px;
    text-align: center;
    font-size: 40px;
    color: #00d9ff;
    text-shadow: 0 0 12px #ee00ff;
    transform: rotate(calc(30deg * var(--n)));
}

.number b {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--n)));
}

/* PONTO CENTRAL */
.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ee00ff;
    border: 6px solid #00d9ff;
    border-radius: 50%;
    z-index: 10;
}

/* PONTEIROS */
.hour-hand,
.minute-hand,
.second-hand{
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom center;
    border-radius: 30px 30px 0 0;
    z-index: 5;
}

.hour-hand{
    width: 12px;
    height: 130px;
    background: linear-gradient(#00d9ff, #ee00ff);
}

.minute-hand{
    width: 8px;
    height: 190px;
    background: linear-gradient(to top, #00d9ff, #ee00ff);
}

.second-hand{
    width: 4px;
    height: 210px;
    background: linear-gradient(to top,#00d9ff,#ee00ff);
}


