@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

canvas {
    background-color: #111;
}

.score--value {
    font-weight: 700;
    font-size: 2rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 10px;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    cursor: pointer;

}

.color-picker {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-picker label {
  font-size: 1rem;
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  z-index: 2;
}

.start-screen h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input-group label {
  font-size: 1rem;
}

#startBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hud {
  position: absolute;
  top: 10px;
  right: 20px; /* espaço livre do lado direito */
  display: flex;
  gap: 30px; /* espaço entre score e timer */
  z-index: 2;
}

.score,
.timer {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
