        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            height: 100vh;
            background: radial-gradient(circle at top, #1b2735, #090a0f);
            overflow: hidden;
        }

        .clock{
            position: fixed;
            top: 15px;
            left: 15px;

            color: #ffffff;
            font-size: 1.25em;
            font-family: 'Poppins', sans-serif;

            background: rgba(255, 255, 255, 0.08);
            padding: 10px 18px;
            border-radius: 20px;

            backdrop-filter: blur(10px);
            box-shadow: 0 0 15px rgb(255, 255, 255, 0.4);

            
            user-select: none;
        }

        @keyframes float {
            0%, 100% { transform: translateY(0); }
            50% { transform: translateY(-6px); }
        }

  .login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 280px;
    color: white;
    font-family: Arial, sans-serif;
}

.login-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
}

.login-box button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #00fff2;
    cursor: pointer;
    font-weight: bold;
}

#msg{
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
}

        .login-title{
            position: fixed;
            top: 15px;
            left: 80%;

            color: #ffffff;
            font-size: 1.25em;
            font-family: 'Poppins', sans-serif;

            background: rgba(255, 255, 255, 0.08);
            padding: 10px 18px;
            border-radius: 20px;

            backdrop-filter: blur(10px);
            box-shadow: 0 0 15px rgb(255, 255, 255, 0.4);

            
            user-select: none;
        }
.primeirolink{
    text-align: center;
    color: white;
    position: absolute;
    top: 20%;
    left: 37%
    ;
    
}
@media (max-width: 480px){
    .primeirolink{
        top: 30%;
        font-size: 0.9em;
    }
}
@media (max-width: 600px){
    .primeirolink{
        top: 28%;
        font-size: 1em;
    }
}
@media (max-width: 768px){
    .primeirolink{
        top: 25%;
        font-size: 1.05em;
    }
}
@media (max-width: 1024px){
    .primeirolink{
        top: 22%;
        font-size: 1.1em;
    }
}
@media (min-width: 1400px){
    .primeirolink{
        top: 18%;
        font-size: 1.2em;
    }
}